.row {
    display: flex;
    flex-direction: row;
}

.toolbar_tb {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #1d74c7;
    border-radius: 3px;
    font-size: 25px;
    padding: 5px;
    margin: 5px 10px 10px 10px;
    width: -webkit-fill-available;
}

body {
    padding-top: 70px;
}

.tb_logo {
    margin: 5px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
}

.tb_menubtn {
    margin: 5px 20px 5px 20px;
}

.tb_userinfo {
    margin: 5px 20px 5px 20px;
}

.tb_logout {
    margin: 5px 20px 5px 20px;
}

.p10 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

a.tb_menubtn:link, a.tb_menubtn:visited {
  color: black;
  text-decoration: none;
  display: inline-block;
}

a.tb_menubtn:hover, a.tb_menubtn:active {
  color: white;
}

a.logoutbtn:link, a.logoutbtn:visited {
  color: black;
  text-decoration: none;
  display: inline-block;
}

a.logoutbtn:hover, a.logoutbtn:active {
  color: white;
}

.menu {
    flex-direction: column;
    justify-content: center;
}

.bigbtn{
    margin: 35px 40px 5px 40px;
    background-color: #1d74c7;
    color: white;
    width: 160px;
    border-radius: 3px;
    font-size: 25px;
    padding: 5px;
}

button {
    margin: 5px;
}
button:hover {
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.registration {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.userfield {
    text-align: end;
}

.mrgnleft85 {
    margin-left: 85px;
    margin-right: 0px;
}


.submitBtn{
  margin-top: 20px;
  margin-right: 10px;
  height: 30px;
  width: 100px;
}

.summary {
 width: 80%;
}

.descr {
  width: 80%;
  height: 10em;
}

.cell {
margin: 5px;
border-style: solid;
border-width: 1px;
padding: 3px;
padding-left: 5px;
}

.colname {
margin: 5px;
padding: 3px;
padding-left: 5px;
}

.editicon {
    height: 18px;
    margin: 5px;
    cursor: pointer;
}

.taskID {
margin: 5px;
width: 25px;
height: 18px;
padding: 3px;
padding-left: 5px;
}

.hidTaskID {
  display: none;
}

.project {
  width: 50px;
}

.status {
  width: 130px;
}

.summary {
width: 300px;
}

.assignee {
  width: 150px;
}

.description {
  width: 500px;
}

.searchbar{
  margin: 25px;
}

.header {
    margin: 10px;
    width: -webkit-fill-available;
    font-weight: bold;
    text-align: center;
    border: ridge;
    padding: 5px;
    }

.board_space {
    display: flex;
    justify-content: space-evenly;
    inline-size: min-content;
}

.taskblock {
    margin: 12px;
    padding: 5px;
    border-style: outset;
}
.kanban_col {
    min-width: 250px;
}

.textblock {
    box-sizing: border-box;
    width: 100%;
}

.label {
    font-size: 85%;
    font-style: italic;
    color: grey;
}

.commentInfoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}