.row {
    display: flex;
    flex-direction: row;
}

.toolbar_tb {
    display: flex;
    justify-content: space-between;
    background-color: #1d74c7;
    border-radius: 3px;
    font-size: 25px;
    padding: 5px;
}

.tb_logo {
    margin: 5px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
}

.tb_userinfo {
    margin: 5px 20px 5px 20px;
}

.tb_logout {
    margin: 5px 20px 5px 20px;
}

.p10 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.menu {
    flex-direction: column;
    justify-content: center;
}

.bigbtn{
    margin: 35px 40px 5px 40px;
    background-color: #1d74c7;
    color: white;
    width: 160px;
    border-radius: 3px;
    font-size: 25px;
    padding: 5px;
}

button {
    margin: 5px;
}
button:hover {
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.registration {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.userfield {
    text-align: end;
}

.mrgnleft85 {
    margin-left: 85px;
    margin-right: 0px;
}






.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #1d74c7;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  height: 60px;
  padding: 2px 16px;
  margin-top: 20px;
  background-color: #1d74c7;
  color: white;
}

.submitBtn{
  margin-top: 20px;
  margin-right: 10px;
  height: 30px;
  width: 100px;
}

.summary {
 width: 80%;
}

.descr {
  width: 80%;
  height: 10em;
}

.cell {
margin: 5px;
border-style: solid;
border-width: 1px;
padding: 3px;
padding-left: 5px;
}

.colname {
margin: 5px;
padding: 3px;
padding-left: 5px;
}

.editicon {
height: 18px;
margin: 5px;
cursor: pointer;
}

.taskID {
margin: 5px;
width: 25px;
height: 18px;
padding: 3px;
padding-left: 5px;
}

.hidTaskID {
  display: none;
}

.project {
  width: 50px;
}

.summary {
width: 300px;
}

.assignee {
  width: 150px;
}

.description {
  width: 500px;
}

.searchbar{
  margin: 25px;
}