<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/main.js" defer></script>
</head>
<body>
<div class="toolbar_tb">
    <div class="tb_logo"><p class="p10">#Hacker_tracker</p></div>
    <div>
        <a class="tb_menubtn" href="/menu">
            <p class="p10">Menu</p>
        </a>
    </div>
    <div class="tb_user row">
        <div class="tb_userinfo">
            <p class="p10" name="email" type="text" th:text="${username}"></p>
        </div>
        <div class="tb_logout">
            <a class="logoutbtn" href="/logout">
                <p class="p10">Logout</p>
            </a>
        </div>
    </div>
</div>

<form th:action="@{/editComment}" th:object="${comment}" method="post">
    <textarea th:value="${comment.comment}" th:text="${comment.comment}" name="comment"></textarea>
    <input name="commentId" th:value="${comment.id}" hidden>
    <input name="userId" th:value="${comment.modified_by}" hidden>
    <input type="submit">
</form>


</body>
</html>