<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hacker tracker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div>
    <div class="searchbar">
        <form th:object="${searchList}" th:method="post">
            <input class="searchbox" type="search" name="q" placeholder="Find in summary..">
            <button class="searchbtn" type="submit">Find</button>
        </form>
    </div>
</div>
<div class="menu">
    <div id="taskBtn">
        <a href="/taskform">
            <button class="bigbtn">CREATE<br>A NEW TASK</button>
        </a>
    </div>

    <div id="tasklistBtn">
        <a href="/tasklist">
            <button class="bigbtn">GET A<br>TASKLIST</button>
        </a>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>