<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hacker tracker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="/js/main.js"></script>
</head>
<body>
<div class="toolbar_tb">
    <div class="tb_logo"><p class="p10">#Hacker_tracker</p></div>
</div>

<div class="row menu">
    <div>
        <a href="/registration">
            <button class="bigbtn">Register</button>
        </a>
    </div>
    <div>
        <a href="/login">
            <button class="bigbtn">Log in</button>
        </a>
    </div>
</div>
</body>
</html>