<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="/js/main.js"></script>
</head>
<body>
<div class="toolbar_tb" id="toolbar_tb">
    <div class="tb_logo"><p class="p10">#Hacker_tracker</p></div>
    <div>
        <a class="tb_menubtn" href="/menu">
            <p class="p10">Menu</p>
        </a>
    </div>
    <div class="tb_user row">
        <div class="tb_userinfo">
            <p class="p10" name="email" type="text" th:text="${username}"></p>
        </div>
        <div class="tb_logout">
            <a class="logoutbtn" href="/logout">
                <p class="p10">Logout</p>
            </a>
        </div>
    </div>
</div>

<div class="board_space row">
    <div class="kanban_col" th:each="status : ${statuslist}">
        <div>
            <div class="header" th:text="${status.status}"></div>
            <div th:block th:each="statusWithTasks : ${tasksByStatus.values()}">
                <div th:each="task : ${statusWithTasks}">
                    <div class="taskblock" th:if="${status.status} == ${task.status}">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
<!--                        <div class="textblock" th:text="${task.status}"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>