<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="/js/main.js"></script>
</head>
<body>
<div th:replace="toolbar :: toolbar"></div>

<div class="board_space row">
    <th:block th:each="status : ${statuslist}">
        <div class="kanban_col">
            <div class="header" th:text="${status.status}"></div>
            <th:block th:each="task : ${tasksByStatus.get(status.status)}">
                <div class="taskblock">
                    <div class="textblock" th:text="${task.id}"></div>
                    <div class="textblock" th:text="${task.project}"></div>
                    <div class="textblock" th:text="${task.summary}"></div>
                    <div class="textblock" th:text="${task.status}"></div>
                    <div class="textblock" th:text="'Comments: ' + ${task.commentCount}"></div>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
</body>