<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hacker tracker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="toolbar_tb">
    <div class="tb_logo"><p class="p10">#Hacker_tracker</p></div>
    <div class="tb_user row">
        <div class="tb_userinfo">
            <p class="p10" name="email" type="text" th:text="${username}"></p>
        </div>
        <div class="tb_logout">
            <a class="logoutbtn" href="/logout">
                <p class="p10">Logout</p>
            </a>
        </div>
    </div>
</div>

<div class="menu row">
    <div id="taskBtn">
        <a href="/taskform">
            <button class="bigbtn">NEW TASK</button>
        </a>
    </div>

    <div id="tasklistBtn">
        <a href="/tasklist">
            <button class="bigbtn">TASKLIST</button>
        </a>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>