<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hacker tracker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/main.js" defer></script>
<!--    <script>-->
<!--        function setCookie(name, value) {-->
<!--            document.cookie = name + "=" + value;-->
<!--        }-->

<!--        function getCookie(name) {-->
<!--            var allCookies = document.cookie;-->
<!--            cookiesArr = allCookies.split(';');-->

<!--            for (var i = 0; i < cookiesArr.length; i++) {-->
<!--                if (cookiesArr[i].split('=')[0] == name) {-->
<!--                document.write("Value for the key: " + name + "is " + cookiesArr[i].split('=')[1]);-->
<!--                }-->
<!--            }-->
<!--        }-->

<!--        setCookie("name", "NoName");-->
<!--        getCookie("name");-->
<!--        setCookie("name", "");-->
<!--    </script>-->
</head>
<body>
<div th:replace="toolbar :: toolbar"></div>

<div class="menu row">
    <div id="taskBtn">
        <a href="/taskform">
            <button class="bigbtn">NEW TASK</button>
        </a>
    </div>

    <div id="tasklistBtn">
        <a href="/tasklist">
            <button class="bigbtn">TASKLIST</button>
        </a>
    </div>

    <div id="statusManagerBtn">
        <a href="/status-manager">
            <button class="bigbtn">Status manager</button>
        </a>
    </div>

    <div id="kanbanBoardBtn">
        <a href="/kanban-board">
            <button class="bigbtn">Kanban board</button>
        </a>
    </div>

    <div id="sprintManagerBtn">
        <a href="/sprint">
            <button class="bigbtn">Sprints</button>
        </a>
    </div>

    <div id="roadMapBtn">
        <a href="/road-map">
            <button class="bigbtn">Road map</button>
        </a>
    </div>
</div>
</body>
</html>