<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/taskValidation.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script defer src="/js/main.js"></script>
</head>
<body>
<div th:replace="toolbar :: toolbar"></div>

<form th:action="@{/newComment}" th:object="${comment}" method="post">
    <textarea th:value="${comment.comment}" name="comment"></textarea>
    <input name="taskId" th:value="${comment.taskId}" hidden>
    <input name="userId" th:value="${comment.userId}" hidden>
    <input type="submit">
</form>
</body>
</html>