<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="/js/roadMap.js"></script>
</head>
<body>
<div th:replace="toolbar :: toolbar"></div>
<h2 class="rm_title">Road map</h2>
<div th:replace="road-map-nav__fragment :: road-map-nav"></div>

<div class="rm_board">
    <div class="rm_by_date">
        <div class="rm_month_block">
            <div class="header">January</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(0)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">February</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(1)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">March</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(2)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">April</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(3)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">May</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(4)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">June</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(5)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">July</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(6)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">August</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(7)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">September</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(8)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">October</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(9)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">November</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(10)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="rm_month_block">
            <div class="header">December</div>
            <div class="row">
                <th:block th:each="task : ${tasksByStartDate.get(11)}">
                    <div class="taskblock">
                        <div class="textblock" th:text="${task.id}"></div>
                        <div class="textblock" th:text="${task.project}"></div>
                        <div class="textblock" th:text="${task.summary}"></div>
                        <div class="textblock" th:text="${task.status}"></div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div class="rm_no_date">
        <div class="rm_header">No date</div>
        <div class="rm_no_date_tasks">
            <th:block th:each="task : ${tasksNoDate}">
                <div class="taskblock">
                    <div class="textblock" th:text="${task.id}"></div>
                    <div class="textblock" th:text="${task.project}"></div>
                    <div class="textblock" th:text="${task.summary}"></div>
                    <div class="textblock" th:text="${task.status}"></div>
                </div>
            </th:block>
        </div>
    </div>
</div>

</body>
</html>