<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/sprintPage.js" defer></script>
</head>
<body>
<div th:replace="toolbar :: toolbar"></div>

<div class="sprint_menu">
    <p class="sprintMenuItem">Sprint: </p>
    <select class="sprintMenuItem sprintSelector" name="sprint" id="sprintId">
        <option value="0" th:selected="selected">-</option>
        <option th:block th:each="sprint : ${sprintList}"
                th:value="${sprint.id}">
            [[${sprint.name}]]
        </option>
    </select>
    <input type="submit" id="showSprintBtn" value="Show" onclick="show_sprint()">
    <a href="/sprint/new">
        <button id="newSprintBtn" class="sprintMenuItem">New sprint</button>
    </a>
</div>
</body>
</html>