<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/sprintPage.js" defer></script>
</head>
<body>
    <div th:replace="toolbar :: toolbar"></div>
    <div th:replace="sprint-menu__fragment :: sprint-menu"></div>
</body>
</html>