<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/sprintPage.js" defer></script>
</head>
<body>
<div th:replace="toolbar :: toolbar"></div>
<div th:replace="sprint-menu__fragment :: sprint-menu"></div>

<div class="sprintBoard" id="sprintBoard">
    <div class="sprint_info">
        <div class="row">
            <div class="textblock hidden" th:text="${sprint.id}"></div>
            <div class="textblock" th:text="${sprint.name}"></div>
            <div class="textblock" th:text="'Start date: ' + ${sprint.startDate}"></div>
            <div class="textblock" th:text="'End date: ' + ${sprint.endDate}"></div>
            <div class="textblock" th:text="'Status: ' + ${sprint.status}"></div>
        </div>
        <div class="cell">
            <div class="textblock" th:text="${sprint.description}"></div>
        </div>
    </div>

    <div name="sprint_tasks">
        <th:block th:each="task : ${tasklist}">
            <div class="taskblock">
                <div class="textblock" th:text="${task.startDate}"></div>
                <div class="textblock" th:text="${task.dueDate}"></div>
                <div class="textblock" th:text="${task.project}"></div>
                <div class="textblock" th:text="${task.summary}"></div>
                <div class="textblock" th:text="${task.status}"></div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>