<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task list</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script defer src="/js/main.js"></script>
</head>
<body>
<div>
    <div class="toolbar_tb">
        <div class="tb_logo"><p class="p10">#Hacker_tracker</p></div>
        <div class="tb_user row">
            <div class="tb_userinfo">
                <p class="p10" name="email" type="text" th:text="${username}"></p>
            </div>
            <div class="tb_logout">
                <a href="/logout">
                    <p class="p10">Logout</p>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="searchbar">
            <form th:object="${searchList}" th:method="post">
                <input class="searchbox" type="search" name="q" placeholder="Find by text..">
                <button class="searchbtn" type="submit">Find</button>
            </form>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="editicon" style="margin-left: 30px"></div>
            <div class="taskID">ID</div>
            <div class="colname project">Project</div>
            <div class="colname summary">Summary</div>
            <div class="colname assignee">Assignee</div>
            <div class="colname description">Description</div>
        </div>
        <th:block th:each="task : ${tasklist}">
            <div class="row">
                <a th:href="'/edittask/' + ${task.id}" id="edittask">
                    <img src="/img/edit-icon.png" height="18px" class="editicon" alt="edit">
                </a>
                <a th:href="'/task/' + ${task.id}">
                    <div class="taskID" th:text="${task.id}"></div>
                </a>
                <div class="cell project" th:text="${task.project}"></div>
                <div class="cell summary" th:text="${task.summary}"></div>
                <div class="cell assignee" th:text="${task.assigneeName}"></div>
                <div class="cell description" th:text="${task.description}"></div>
            </div>
        </th:block>

        <a href="/menu">
            <button class="submitBtn">Go home</button>
        </a>
    </div>
</div>
</body>
</html>