<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/taskValidation.js"></script>
    <script src="/js/jquery.validate.js"></script>
</head>
<body>
<div class="toolbar_tb">
    <div class="tb_logo"><p class="p10">#Hacker_tracker</p></div>
    <div>
        <a class="tb_menubtn" href="/menu">
            <p class="p10">Menu</p>
        </a>
    </div>
    <div class="tb_user row">
        <div class="tb_userinfo">
            <p class="p10" name="email" type="text" th:text="${username}"></p>
        </div>
        <div class="tb_logout">
            <a class="logoutbtn" href="/logout">
                <p class="p10">Logout</p>
            </a>
        </div>
    </div>
</div>

<div>
    <form th:action="@{/taskform}" th:object="${taskform}" method="post" id="taskform">
        <div>
            <div>
                <h2>Create new task</h2>
            </div>
            <div class="modal-body">
                <p>Project: </p><input name="project" th:field="*{project}" type="text"/>
                <p>Summary: </p><input class="summary" name="summary" th:field="*{summary}" type="text"/>
                <p>Assignee: </p>
                <form>
                    <select name="assignee" id="userId">
                        <option class="user" th:block th:each="user : ${users}" th:value="${user.id}">[[${user.name}]]
                        </option>
                    </select>
                </form>
                <p>Description: </p><textarea class="descr" name="description" th:field="*{description}"></textarea>
            </div>
            <div>
                <span><input class="submitBtn" type="submit" value="Create"/></span>
            </div>
        </div>
    </form>
</div>
<script src="/js/main.js"></script>
</body>
</html>