<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/main.js" defer></script>
</head>
<body>
<div class="toolbar_tb">
    <div class="tb_logo"><p class="p10">#Hacker_tracker</p></div>
    <div>
        <a class="tb_menubtn" href="/menu">
            <p class="p10">Menu</p>
        </a>
    </div>
    <div class="tb_user row">
        <div class="tb_userinfo">
            <p class="p10" name="email" type="text" th:text="${username}"></p>
        </div>
        <div class="tb_logout">
            <a class="logoutbtn" href="/logout">
                <p class="p10">Logout</p>
            </a>
        </div>
    </div>
</div>

<div>
    <div>
        <div class="cell">
            <div class="row">
                <div class="right_200">
                    <p class="label">Task ID: </p>
                    <div name="id" th:text="${task.id}"></div>
                </div>
                <div class="right_200">
                    <p class="label">Start date: </p>
                    <div name="startDate" th:text="${task.startDate}"></div>
                </div>
                <div class="right_200">
                    <p class="label">Due date: </p>
                    <div name="dueDate" th:text="${task.dueDate}"></div>
                </div>
            </div>
        </div>
        <div class="cell"><p class="label">Project: </p>
            <p name="project" type="text" th:text="${task.project}"/></div>
        <div class="cell"><p class="label">Status: </p>
            <p name="status" type="text" th:text="${task.status}"/></div>
        <div class="cell"><p class="label">Reporter: </p>
            <th:block th:each="user : ${users}" th:value="${user.id}">
                <th:block th:if="${user.id==task.reporter}">[[${user.name}]]</th:block>
            </th:block>
        </div>
        <div class="cell"><p class="label">Summary: </p>
            <p name="summary" class="summary" type="text" th:text="${task.summary}"/></div>
        <div class="cell"><p class="label">Assignee: </p>
            <th:block th:each="user : ${users}" th:value="${user.id}">
                <th:block th:if="${user.id==task.assignee}">[[${user.name}]]</th:block>
            </th:block>
        </div>
        <div class="cell"><p class="label">Description: </p>
            <p name="description" class="descr" th:text="${task.description}"></p></div>

        <fieldset>
            <legend>Comments: ([[${commentCount}]])</legend>
            <p name="comment" class="comment" th:text="${comments}"></p>
            <div class="taskComments">
                <th:block th:each="comment : ${commentList}">
                    <div class="cell">
                        <div class="commentInfoBlock">
                            <div>
                                <p class="label">Written by: </p>
                                <div th:text="${comment.username}"></div>
                                <p class="label">Created: </p>
                                <div th:text="${comment.created}"></div>
                            </div>
                            <div th:if="${comment.modified == true}">
                                <p class="label">Modified by: </p>
                                <div th:text="${comment.mod_by}"></div>
                                <p class="label">Modified at: </p>
                                <div th:text="${comment.lastModified}"></div>
                            </div>
                            <a th:href="'/editComment/' + ${comment.id}">
                                <img class="editicon" src="/img/edit-icon.png">
                            </a>
                        </div>
                        <div>
                            <p class="label">Comment: </p>
                            <div th:text="${comment.comment}"></div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div>
                <a th:href="'/newComment/' + ${task.id}">
                    <button>Comment</button>
                </a>
            </div>
        </fieldset>
    </div>

    <div>
        <a th:href="'/edittask/' + ${task.id}">
            <button class="submitBtn">Edit</button>
        </a>
        <a th:href="'/task-history/' + ${task.id}">
            <button class="submitBtn">History</button>
        </a>
    </div>
</div>
</body>
</html>