<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/main.js" defer></script>
</head>
<body>
<div th:replace="toolbar :: toolbar"></div>

<div class="historyPage">
    <!--        <th:block th:each="created : ${createdList}">[[${created}]]-->
    <div class="historyColumn"><h2>Previous Data</h2>
        <th:block th:each="record : ${previousData}">
            <div class="cell">
                <div th:text="${record.project}"></div>
                <div th:text="${record.summary}"></div>
                <div th:text="${record.assignee}"></div>
                <div th:text="${record.description}"></div>
                <div th:text="${record.startDate}"></div>
                <div th:text="${record.dueDate}"></div>
            </div>
        </th:block>
    </div>
    <div class="historyColumn"><h2>Updated Data</h2>
        <th:block th:each="record : ${updatedData}">
            <div class="cell">
                <div th:text="${record.project}"></div>
                <div th:text="${record.summary}"></div>
                <div th:text="${record.assignee}"></div>
                <div th:text="${record.description}"></div>
                <div th:text="${record.startDate}"></div>
                <div th:text="${record.dueDate}"></div>
            </div>
        </th:block>
    </div>
    <!--        </th:block>-->
</div>
</body>
</html>