<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task hacker</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/taskValidation.js"></script>
</head>
<body>
<div class="menu">
    <div id="taskBtn">
        <button>CREATE<br>A NEW TASK</button>
    </div>

    <div id="tasklistBtn">
        <a href="/tasklist">
            <button>GET A<br>TASKLIST</button>
        </a>
    </div>
</div>
<div id="createTask" class="modal">
    <form th:action="@{/taskform}" th:object="${taskform}" method="post" id="taskform">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Create new task</h2>
            </div>
            <div class="modal-body">
                <p>Project: </p><input name="project" th:field="*{project}" type="text"/>
                <p>Summary: </p><input class="summary" name="summary" th:field="*{summary}" type="text"/>
                <p>Assignee: </p><input name="assignee" th:field="*{assignee}" type="text"/>
                <p>Description: </p><textarea class="descr" name="description" th:field="*{description}"></textarea>
            </div>
            <div class="modal-footer">
                <span><input id="createBtn" type="submit" value="Create"/></span>
            </div>
        </div>
    </form>
</div>

<script>
    $("#taskform").validate();
</script>
<script src="/js/main.js"></script>
</body>
</html>